Repository ryan-longoria/FeedUtopia: changes, and which Atlantis projects are due for each by the changed paths.
All: animeutopia-prod, critterutopia-prod, cyberutopia-prod, driftutopia-prod, sharedservices-prod, wrestleutopia-prod, xputopia-prod

Path conditions:
  animeutopia-prod: any of: accounts/animeutopia-prod/**/*.tf, accounts/animeutopia-prod/**/*.tfvars
  critterutopia-prod: any of: accounts/critterutopia-prod/**/*.tf, accounts/critterutopia-prod/**/*.tfvars
  cyberutopia-prod: any of: accounts/cyberutopia-prod/**/*.tf, accounts/cyberutopia-prod/**/*.tfvars
  driftutopia-prod: any of: accounts/driftutopia-prod/**/*.tf, accounts/driftutopia-prod/**/*.tfvars
  sharedservices-prod: any of: accounts/sharedservices-prod/**/*.tf, accounts/sharedservices-prod/**/*.tfvars
  wrestleutopia-prod: any of: accounts/wrestleutopia-prod/**/*.tf, accounts/wrestleutopia-prod/**/*.tfvars
  xputopia-prod: any of: accounts/xputopia-prod/**/*.tf, accounts/xputopia-prod/**/*.tfvars

Remove Account-level Lambda Resources
  accounts/animeutopia-prod/api.tf
  accounts/animeutopia-prod/cloudwatch.tf
  accounts/animeutopia-prod/dashboard.tf
  accounts/animeutopia-prod/iam.tf
  accounts/animeutopia-prod/lambda.tf
  accounts/animeutopia-prod/outputs.tf
  accounts/animeutopia-prod/route53.tf
  accounts/animeutopia-prod/sfn.tf
  accounts/animeutopia-prod/sns.tf
  accounts/animeutopia-prod/sqs.tf
  accounts/animeutopia-prod/ssm.tf
  accounts/animeutopia-prod/state_machine.json.tpl
  accounts/animeutopia-prod/variables.tf
  accounts/animeutopia-prod/x-ray.tf
Due: animeutopia-prod

Fix carousel caption replicating on every slide
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Fix bug where video backgrounds end at 2 seconds
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Change set_duration to with_duration
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Set audio to background video
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

remove art_raw.close() and let final.close() close sources
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Carry over audio from bg vid
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

change set_audio to with_audio
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove with_
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
Due: none

Remove with_
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove set_duration
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove set_position
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove set_audio
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Use a different output file name for video bg
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Add audio to bg video
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove AnimeUtopia lightsail resources
  accounts/animeutopia-prod/lightsail.tf
Due: animeutopia-prod

Make videos download rather than stream when opening in browser
  accounts/sharedservices-prod/artifacts/scripts/notify_post/lambda_function.py
  accounts/sharedservices-prod/artifacts/scripts/notify_post/notify_post.zip
Due: none

comment out everything in lightsail.tf
  accounts/animeutopia-prod/lightsail.tf
Due: animeutopia-prod

comment out everything in lightsail.tf
  accounts/animeutopia-prod/route53.tf
Due: animeutopia-prod

add audio to bg
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Remove thumbnail from videos in Teams card
  accounts/sharedservices-prod/artifacts/scripts/notify_post/lambda_function.py
  accounts/sharedservices-prod/artifacts/scripts/notify_post/notify_post.zip
Due: none

strip spacing between words and punctuation, if any
  accounts/sharedservices-prod/artifacts/scripts/render_video/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

strip spacing between words and punctuation, if any
  accounts/sharedservices-prod/artifacts/scripts/render_carousel/lambda_function.py
  accounts/sharedservices-prod/tfvars/prod-ue2-sharedservices.tfvars
Due: sharedservices-prod

Add WrestleUtopia Recruiting Portal Website
  accounts/wrestleutopia-prod/artifacts/website/README.md
  accounts/wrestleutopia-prod/artifacts/website/assets/favicon.svg
  accounts/wrestleutopia-prod/artifacts/website/assets/hero-bg.svg
  accounts/wrestleutopia-prod/artifacts/website/assets/logo.svg
  accounts/wrestleutopia-prod/artifacts/website/index.html
  accounts/wrestleutopia-prod/artifacts/website/js/fake_db.js
  accounts/wrestleutopia-prod/artifacts/website/js/forms.js
  accounts/wrestleutopia-prod/artifacts/website/js/main.js
  accounts/wrestleutopia-prod/artifacts/website/manifest.webmanifest
  accounts/wrestleutopia-prod/artifacts/website/privacy.html
  accounts/wrestleutopia-prod/artifacts/website/promoters.html
  accounts/wrestleutopia-prod/artifacts/website/robots.txt
  accounts/wrestleutopia-prod/artifacts/website/sitemap.xml
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
  accounts/wrestleutopia-prod/artifacts/website/talent.html
  accounts/wrestleutopia-prod/artifacts/website/terms.html
  accounts/wrestleutopia-prod/artifacts/website/tryouts.html
Due: none

Make website more user friendly
  accounts/wrestleutopia-prod/artifacts/website/README.md
  accounts/wrestleutopia-prod/artifacts/website/index.html
  accounts/wrestleutopia-prod/artifacts/website/js/include.js
  accounts/wrestleutopia-prod/artifacts/website/partials/footer.html
  accounts/wrestleutopia-prod/artifacts/website/partials/nav.html
  accounts/wrestleutopia-prod/artifacts/website/privacy.html
  accounts/wrestleutopia-prod/artifacts/website/promoters.html
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
  accounts/wrestleutopia-prod/artifacts/website/talent.html
  accounts/wrestleutopia-prod/artifacts/website/terms.html
  accounts/wrestleutopia-prod/artifacts/website/tryouts.html
Due: none

Make website more user friendly
  accounts/wrestleutopia-prod/artifacts/website/js/include.js
  accounts/wrestleutopia-prod/artifacts/website/partials/footer.html
  accounts/wrestleutopia-prod/artifacts/website/partials/nav.html
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Make website more user friendly
  accounts/wrestleutopia-prod/artifacts/website/partials/nav.html
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Make website more user friendly
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change coloring to pink
  accounts/wrestleutopia-prod/artifacts/website/partials/footer.html
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change Gold on buttons to #434EBF
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Make Home options on website pink
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change Gold borders to #434EBF
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change mobile card color to #221422
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change email contact to mgmt@feedutopia.com
  accounts/wrestleutopia-prod/artifacts/website/partials/footer.html
Due: none

Keep View Profile button left aligned
  accounts/wrestleutopia-prod/artifacts/website/styles/styles.css
Due: none

Change WrestleUtopia to Wrestle Utopia
  accounts/wrestleutopia-prod/artifacts/website/index.html
  accounts/wrestleutopia-prod/artifacts/website/partials/nav.html
Due: none

Change WrestleUtopia to Wrestle Utopia
  accounts/wrestleutopia-prod/artifacts/website/partials/footer.html
Due: none
